<style>
    div.float-left{
        float:left;
        width:500px;
        margin-left: 300px;
        font-size: 0.8%;
        color: gray;                 
    }
    div.float-right{
        float:right;
        width:500px;
        margin-right: 300px;
        font-size: 0.8%;
        color: gray; 
    }
</style>
<footer>
    <div class="float-left">
        Emons Mall<br>
        상호명 : 주식회사 에몬스앳홈 대표 : 김승곤 사업자등록번호 : 739-88-01987 사업자정보확인 >
통신판매업신고번호 : 2020-인천남동구-1871 대표번호 : 1800-9977 팩스번호 : 032-816-2239 주소 : 서울특별시 금천구 가산디지털1로 225 1602호, 1603호(가산동, 에이스가산포휴)
개인정보관리자 : 김승곤 메일 : emonshome@emonshome.co.kr
에몬스몰 내 판매 상품 중 '입점브랜드상품'으로 명기된 상품의 경우,
(주)에몬스앳홈은 판매자가 아닌 통신판매중개자이므로 판매자로서의 책임을 부담하지 아니합니다.
해당 상품, 거래정보 및 거래에 대하여는 실제 판매자인 각 입점업체에게 책임이 있습니다.

copyright (c) emonshome.co.kr all rights reserved.
    </div>
    <div class="float-right">
        고객센터<br>
        1800-9977
(ARS 2번 : 에몬스홈 고객센터)
평일 : 오전 08:30 ~ 오후 17:30
점심시간 : 오후 12:00 ~ 오후 13:00
업무휴무 : 토,일,공휴일 휴무
카카오톡
블로그
인스타그램
유튜브
홈
고객센터
이용약관
개인정보취급방침
이용안내
광고/제휴 문의
        
    </div>
</footer>